<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2015-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置sql语句显示 -->
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
    <typeAliases>
        <package name="com.weichuang.ecommerce.*.entity"/>
    </typeAliases>
    <mappers>
        <!-- user  start -->
	        <mapper resource="sqlmap/commerce/tenant/orgi/CountryDao.xml"/>
	        <mapper resource="sqlmap/commerce/tenant/orgi/AdminDao.xml"/>
	        <mapper resource="sqlmap/commerce/tenant/orgi/MenuDao.xml"/>
	        <mapper resource="sqlmap/commerce/tenant/orgi/RoleDao.xml"/>
	        <mapper resource="sqlmap/commerce/tenant/orgi/UserAddressDao.xml"/>
	        <mapper resource="sqlmap/commerce/tenant/orgi/UserDao.xml"/>
	        <mapper resource="sqlmap/commerce/tenant/orgi/UserThirdDao.xml"/>
            <mapper resource="sqlmap/commerce/tenant/orgi/UserAgentRoleDao.xml"/>
            <mapper resource="sqlmap/commerce/tenant/orgi/UserRoleDao.xml"/>
            <mapper resource="sqlmap/commerce/tenant/orgi/InviteSaleJoinDao.xml"/>
        <!-- user  end -->
        <!-- banner start -->
            <mapper resource="sqlmap/commerce/website/orgi/BannerDao.xml"/>
            <mapper resource="sqlmap/commerce/website/orgi/ContentDao.xml"/>
        <!-- banner end -->
        <!-- agent start -->
            <mapper resource="sqlmap/commerce/tenant/orgi/AgentDao.xml"/>
        <!-- agent end -->
        <!-- pullNewSet start -->
            <mapper resource="sqlmap/commerce/tenant/orgi/PullNewDao.xml"/>
        <!-- pullNewSet end -->
        <!-- 版本更新 -->
            <mapper resource="sqlmap/commerce/appVersion/orgi/AppVersionDao.xml"/>
    </mappers>
</configuration>
